.container {
	width: 100%;
	margin: auto;
	padding: auto;
}

form {
	width: 80%;
}

input[type=text]{
	width: 200px;
	margin: 8px;
	box-sizing: border-box;
}

label{
	padding: 12px 12px 12px 0;
	display: inline-block;
}